MFXDemo/[Ll]ibrary/
MFXDemo/[Tt]emp/
MFXDemo/[Oo]bj/
MFXDemo/[Bb]uild/
MFXDemo/[Bb]uilds/
MFXDemo/[Ll]ogs/
MFXDemo/[Uu]ser[Ss]ettings/
MFXFullDemo/[Ll]ibrary/
MFXFullDemo/[Tt]emp/
MFXFullDemo/[Oo]bj/
MFXFullDemo/[Bb]uild/
MFXFullDemo/[Bb]uilds/
MFXFullDemo/[Ll]ogs/
MFXFullDemo/[Uu]ser[Ss]ettings/
MFXWithAdMob/[Ll]ibrary/
MFXWithAdMob/[Tt]emp/
MFXWithAdMob/[Oo]bj/
MFXWithAdMob/[Bb]uild/
MFXWithAdMob/[Bb]uilds/
MFXWithAdMob/[Ll]ogs/
MFXWithAdMob/[Uu]ser[Ss]ettings/
MFXWithMoPub/[Ll]ibrary/
MFXWithMoPub/[Tt]emp/
MFXWithMoPub/[Oo]bj/
MFXWithMoPub/[Bb]uild/
MFXWithMoPub/[Bb]uilds/
MFXWithMoPub/[Ll]ogs/
MFXWithMoPub/[Uu]ser[Ss]ettings/
MFXFullDemo/Assets/Plugins/iOS/MFXSDKCore.framework/.DS_Store
